#productContent {
  margin-top: 2rem;
  padding-inline: 1.7rem;
}

@media (min-width: 576px) {
  #productContent {
    margin-top: 4rem;
    padding-inline: 0;
  }
}

.product-img-container {
  display: flex;
  flex-direction: column;
}

.product-img-container img {
  /* max-height: 40vh !important; */
  margin: auto;
  padding: auto;
  justify-self: center;
  max-width: 16rem !important;
}

.modal-wrapper {
  width: fit-content;
}

.cta-button {
  margin-inline: 1rem;
  font-weight: bold;
  font-size: xx-large;
  box-shadow: 0 0.1rem 0.5rem 0.2rem rgb(236, 236, 236);
  transition: 0.1s;
}
.cta-button:hover {
  font-size: 2.2rem;
  transition: 0.15s;
}
