<div id="productContent">
  <div class="row d-lg-none">
    <div class="col-sm-12">
      <div class="product-detail-title text-center">
        <h1>{{product.name}}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- ---------------------------------------begin-product--------------------------------------- -->
    <div class="col-0 col-lg-1"></div>
    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col-1 col-lg-0"></div>
        <div class="col-10 col-lg-12">
          <div class="container product-img-container pb-5 pt-2">
            <hr class="d-lg-none">
            <img class="product-img" [src]="product.imageUrl" [alt]="product.name + ' product image.'" fill>
          </div>
          <div class="product-detail">
            <h1 class="d-none d-lg-block">{{product.name}}</h1>
            <div class="row text-center text-lg-start">
              <span>
                <stars [rating]="product.averageRating"></stars>
                <div class="d-inline">&nbsp;({{product.numberOfReviews}} reviews)</div>
              </span>
            </div>
            <div class="row">
              <div class="product-detail-description mt-3 px-3">
                <blockquote>{{product.description}}</blockquote>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1 col-lg-0"></div>
      </div>
    </div>
    <!-- ---------------------------------------end-product--------------------------------------- -->
    <div class="col-12 col-lg-6 ">
      <!-- ---------------------------------------begin-top-reviews--------------------------------------- -->
      <div *ngIf="topReviews.length!=0">
        <div class="reviews py-3 px-5">
          <div class="row text-center">
            <h1>Top Reviews</h1>
          </div>
          <br>
          <div class="row">
            <reviews-list [reviews]="topReviews"></reviews-list>
          </div>
        </div>
      </div>
      <!-- ---------------------------------------end-top-reviews--------------------------------------- -->
    </div>
    <div class="col-0 col-lg-1"></div>
  </div>
  <!-- ---------------------------------------begin-further-reviews--------------------------------------- -->
  <div class="row">
    <div class="col-0 col-lg-1"></div>
    <div class="col-12 col-lg-10">
      <hr>
      <div *ngIf="topReviews.length!=0" class="more-reviews">
        <div class="row">
          <h1>More Reviews</h1>
        </div>
        <br>
        <div class="row">
          <reviews-list [reviews]="topReviews"></reviews-list>
        </div>
      </div>
    </div>
    <div class="col-0 col-lg-1"></div>
  </div>
  <!-- ---------------------------------------begin-further-reviews--------------------------------------- -->
</div>
