
#page-container {
  position: relative;
  min-height: 100vh;
  min-width: 90vw;
}

#content-wrap {
  min-height:90vh;
  padding-bottom: 3rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

#navbar {
  padding-block: 1.2rem;
}

.navbar-brand {
  margin-inline-end: 2.5rem;
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.nav-link {
  font-size: 1.2rem;
  margin-right: 1.5rem;
}

