<div ngbAccordion #accordion="ngbAccordion">
  <div ngbAccordionItem="first" #first="ngbAccordionItem" [collapsed]="isMobile()">
    <h2 ngbAccordionHeader class="p-sm-3">
      <button ngbAccordionButton [hidden]="!isMobile()">Filter & Sort</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody #accordianBody>
        <div class="p-sm-3 p-2">
          <form name="displayFilters">
            <div class="selector">
              <label for="formControlRange"><small>Display Per Page</small></label><br>
              <select name="displayAmount" class="custom-select form-control">
                <option value="18" selected>18</option>
                <option value="32">32</option>
                <option value="64">64</option>
              </select>
            </div>
            <br>
            <div class="selector">
              <label for="formControlRange"><small>Sort By</small></label><br>
              <select name="sortBy" class="custom-select form-control">
                <option value="popularity" selected>Popularity</option>
                <option value="ratingsAsc">Ratings Asc</option>
                <option value="ratingsDesc">Ratings Desc</option>
                <option value="reviewsAsc">Most Reviews</option>
              </select>
            </div>
            <br>
            <div class="selector">
              <label for="formControlRange"><small>Min Rating</small></label><br>
              <select name="minRating" class="custom-select form-control">
                <option selected>None</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
              </select>
            </div>
          </form>
        </div>

        <div id="categories" class="p-sm-3 p-2">
          <h2 class="mt-3">Categories</h2>
          <!-- maximum of 20 categories -->
          <!-- display as toggle open for mobile -->
          <!-- display as scroll on toggle for mobile -->
          <br>
          <div class="category">
            <button class="category-selector">Food</button>
          </div>
          <br>
          <div class="category">
            <button class="category-selector">Gaming</button>
          </div>
          <br>
          <div class="category">
            <button class="category-selector">Beauty</button>
          </div>
          <br>
          <div class="category">
            <button class="category-selector">Haircare</button>
          </div>
          <br>
          <div class="category">
            <button class="category-selector">Tech</button>
          </div>
          <br>
          <div class="category">
            <button class="category-selector">Athletic Wear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
