<div ngbAccordion #accordion="ngbAccordion">
  <div ngbAccordionItem="first" #first="ngbAccordionItem" [collapsed]="isMobile()">
    <h2 ngbAccordionHeader class="p-sm-3">
      <button ngbAccordionButton [hidden]="!isMobile()">Filter & Sort</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody #accordianBody>
        <div class="p-sm-3 p-2">
          <form name="displayFilters">
            <div class="selector">
              <label for="formControlRange"><small>Display Per Page</small></label><br>
              <select name="displayAmount" class="custom-select form-control" [(ngModel)]="searchParams.pageSize"
                (ngModelChange)="emitEvent()">
                <option [ngValue]="6">6</option>
                <option [ngValue]="9">9</option>
                <option [ngValue]="18">18</option>
                <option [ngValue]="32">32</option>
              </select>
            </div>
            <br>
            <div class="selector">
              <label for="formControlRange"><small>Sort By</small></label><br>
              <select name="orderBy" class="custom-select form-control" [(ngModel)]="sortOrder"
                (ngModelChange)="updateOrdering()">
                <option [ngValue]="ordering.default">None</option>
                <option [ngValue]="ordering.MOST_POPULAR">Most Popular</option>
                <option [ngValue]="ordering.LEAST_POPULAR">Least Popular</option>
                <option [ngValue]="ordering.MOST_REVIEWS">Most Reviews</option>
                <option [ngValue]="ordering.LEAST_REVIEWS">Least Reviews</option>
              </select>
            </div>
            <br>
            <div>
              <label for="customRange3" class="form-label">Min Rating:&nbsp;{{searchParams.minRating}} Stars</label>
              <input type="range" class="form-range" min="0" max="5" step="0.5" name="customRange3"
                [(ngModel)]="searchParams.minRating" (ngModelChange)="emitEvent()">
            </div>
          </form>
        </div>

        <div id="categories" class="p-sm-3 p-2">
          <!--
            For some reason due to ngBootstrap these render opposite to the order shown here
            I will look into contributing to ngBootstrap to fix this
          -->

          <div id="selectedCategories" *ngIf="selectedIsEmpty()">
            <div *ngIf="categoryIsClean(categoryParams.selectedCategories[0])">
              <h2 class="mt-3">Selected Categories</h2>
              <hr>
            </div>
            <div *ngFor="let category of categoryParams.selectedCategories">
              <div *ngIf="categoryIsClean(category)" class="category">
                <button class="category-selector selected-category"
                  (click)="unselectCategory(category)">{{category.name}}</button>
              </div>
              <hr *ngIf="!categoryIsLast(category)">
            </div>
          </div>

          <div id="unselectedCategories">
            <h2 class="mt-3">Categories</h2>
            <!-- maximum of 20 categories -->
            <!-- display as toggle open for mobile -->
            <!-- display as scroll on toggle for mobile -->
            <hr>
            <div *ngFor="let category of categoryPage.content">
              <div *ngIf="categoryIsClean(category)">
                <div class="category">
                  <button class="category-selector" (click)="selectCategory(category)">{{category.name}}</button>
                </div>
                <br *ngIf="!categoryIsLast(category)">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
