.category-selector {
  width: 80%;
  word-wrap: break-word;
  background-color: inherit;
  border: none;
  font-size: large;
  font-weight: bolder;
}

.category-selector:hover {
  font-size: 1.3rem;
  transition: 0.2s;
  opacity: 90%;
}

.selected-category {
  color: purple;
}

#categories * {
  text-align: start;
}
